.form {
	&-input {
		width: 100%;
		min-height: 50px;
		padding: 11.5px 14px;

		border: 1px solid $colorGreyDark;
		border-radius: $borderRadiusS;

		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: $colorSecondaryBlack;
		caret-color: $colorGreyDark;

		&::placeholder {
			color: $colorGreyDark;
		}
	}

	&-textarea {
		height: 134px;
		resize: none;
	}

	&-textarea,
	&-input {
		&.input-error {
			border: 1px solid $colorRed;
		}
	}

	@media screen and (max-width: $mobile) {
		&-input {
			font-size: 14px;
		}

		&-textarea {
			height: 100px;
		}
	}
}
