.header {
	position: fixed;
	width: 100%;
	margin: vw(18) 0 0 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: vw(16);
	line-height: vw(16);
	color: $colorSecondaryBlack;
	z-index: 10;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: vw(12) vw(82);

		background-color: #fff;
		border-radius: vw(10);
		box-shadow: 0 0 vw(15) vw(6) rgba(196, 196, 196, 0.16);
	}

	&__content {
		display: flex;
		align-items: center;
		gap: vw(4);
	}

	&--transparent {
		.header__wrapper {
			background-color: transparent;
			box-shadow: none;
		}
	}

	@media screen and (min-width: 1680px) {
		margin: 18px 0 0 0;
		font-size: 16px;
		line-height: 16px;

		&__wrapper {
			padding: 12px 82px;
			border-radius: 10px;
			box-shadow: 0 0 15px 6px rgba(196, 196, 196, 0.16);
		}
		&__content {
			gap: 4px;
		}
	}

	// @media screen and (max-width: 1024px) {
	// 	&__content {
	// 		gap: 0;
	// 	}
	// }

	@media screen and (max-width: $mobile) {
		margin: vw(8, 375) 0 0 0;
		font-size: vw(15, 375);
		line-height: vw(16, 375);

		&__wrapper {
			padding: vw(15, 375) vw(18, 375);

			border-radius: vw(8, 375);
			box-shadow: 0 0 vw(15, 375) vw(6, 375) rgba(196, 196, 196, 0.16);
		}

		&__content {
			gap: 0;
		}
	}
}
