$colorBlack: rgb(19 19 19 / 80%);
$colorSecondaryBlack: #131313;
$colorRed: #E4001C;
$colorBeige: #EFEFEF;
$colorGrey: #B3B3B3;
$colorGreyLight: #DEDEE0;
$colorGreyDark: #767676;
$colorGreen: #41884C;

$borderRadiusS: 10px;
$borderRadiusM: 20px;
$borderRadiusL: 25px;

@mixin transition {
    transition: all .3s;
}

@function vw($px, $width: 1680) {
    @return calc($px * 100vw / $width);
}

@function vh($px, $width: 1680) {
    @return calc($px * 100vh / $width);
}

$mobile: 1024px;

// font-family: "Raleway", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "Nunito Sans", sans-serif;
// font-family: "Lato", sans-serif;
// font-family: "Oswald", sans-serif;
// font-family: "Radley", serif;

// box-shadow: 0px 0px 15px 6px rgba(196, 196, 196, 0.16);

// <svg><use xlink:href="assets/img/sprite.svg#chevron"></use></svg>