<section class="advantages">
    <div class="container">
        <div class="advantages__wrapper">
            <span class="advantages__tag section-tag section-tag--absolute">Сильні сторони</span>

            <h2 class="advantages__title section-title">у чому <span class="text-bold--red">переваги</span> Typar<sup class="sup">&#174;</sup>?</h2>
            <p class="advantages__subtitle">Hardie siding does more than transform your home’s look - it helps protect your home for decades to come</p>

            <div class="advantages__content">
                <div class="advantages__block">
                    <svg><use xlink:href="assets/img/sprite.svg#house"></use></svg>

                    <h3 class="advantages__block-title">Supepior durability</h3>

                    <p>Hardie siding <span class="text-bold--red">is noncombustible</span> - it will not burn. It resists damage from moisture and holds no appeal for pests like woodpeckers or termites</p>
                </div>

                <div class="advantages__block">
                    <svg><use xlink:href="assets/img/sprite.svg#house"></use></svg>

                    <h3 class="advantages__block-title">Supepior durability</h3>

                    <p>Hardie siding <span class="text-bold--red">is noncombustible</span> - it will not burn. It resists damage from moisture and holds no appeal for pests like woodpeckers or termites</p>
                </div>

                <div class="advantages__block">
                    <svg><use xlink:href="assets/img/sprite.svg#house"></use></svg>

                    <h3 class="advantages__block-title">Supepior durability</h3>

                    <p>Hardie siding <span class="text-bold--red">is noncombustible</span> - it will not burn. It resists damage from moisture and holds no appeal for pests like woodpeckers or termites</p>
                </div>
            </div>

            <a class="advantages__btn btn btn--black" href="#">Дізнатись більше</a>
        </div>
    </div>
</section>