<section class="directions">
    <div class="container">
        <div class="directions__wrapper">
            <span class="directions__tag section-tag section-tag--absolute">Напрямки</span>
            
            <h2 class="directions__title section-title"><span class="text-bold--grey">Typar<sup class="sup">&#174;</sup>sf</span> широко <span class="text-bold--red">застосовується</span> в&nbsp;будівництві</h2>

            <div class="directions__content">
                <div class="directions__block">
                    <img src="../assets/img/decor/directions-1.jpg" alt="">
                    <h3 class="directions__block-title">благоустрій території</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>

                <div class="directions__block">
                    <img src="../assets/img/decor/directions-2.jpg" alt="">
                    <h3 class="directions__block-title">автошляхи, стоянки, залізничні колії</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>

                <div class="directions__block">
                    <img src="../assets/img/decor/directions-3.jpg" alt="">
                    <h3 class="directions__block-title">промислові підлоги</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>

                <div class="directions__block">
                    <img src="../assets/img/decor/directions-4.jpg" alt="">
                    <h3 class="directions__block-title">фундаменти</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>

                <div class="directions__block">
                    <img src="../assets/img/decor/directions-5.jpg" alt="">
                    <h3 class="directions__block-title">дренаж території</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>

                <div class="directions__block">
                    <img src="../assets/img/decor/directions-6.jpg" alt="">
                    <h3 class="directions__block-title">дренаж території</h3>
                    <a class="directions__block-link" href="#">
                        Детальніше
                        <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                    </a>
                </div>
            </div>

            <a class="directions__btn btn btn--black" href="#">Показати більше</a>
        </div>
    </div>
</section>