<section class="feedback">
    <div class="container">
        <div class="feedback__wrapper">
            <h2 class="feedback__title section-title">
                euroizol <span class="text-bold--grey">відкриває двері</span> до передових <span class="text-bold--red">рішень Du Pont™</span>!
            </h2>

            <form class="feedback__form">
                <p>
                    <span class="text-bold">Заповніть форму</span>, і наші експерти з геотекстилю Typar<sup class="sup sup--small">&#174;</sup> SF допоможуть <span class="text-bold">реалізувати ваші ідеї</span>
                </p>

                <input class="feedback__form-input form-input" placeholder="Ім’я" type="text">

                <input class="feedback__form-input form-input" placeholder="Електронна пошта" type="email">

                <input class="feedback__form-input form-input" placeholder="Ваша сфера діяльності" type="mail">

                <textarea class="feedback__form-input form-input form-textarea" placeholder="Коментар"></textarea>

                <button class="feedback__form-btn btn">Надіслати</button>
            </form>
        </div>
    </div>
</section>