<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <img class="hero__media" src="assets/img/decor/hero-img.png" alt="">

            <div class="hero__left">
                <div class="hero__cta-banner">
                    <p>
                        Перший <span class="text-bold">універсальний</span> <span class="text-bold text-bold--red">геотекстиль</span> високої міцності
                    </p>
                    <a class="btn" href="#">Детальніше</a>
                </div>
            </div>
            
            <div class="hero__right">
                <img class="hero__right-img" src="assets/img/decor/hero-title-img.png" alt="">

                <div class="hero__info">
                    <p>
                        Розроблено <span class="text-bold">світовим лідером</span> <span class="text-bold text-bold--red">Du Pont™.</span> Офіційно представлений в Україні компанією <span class="text-bold">Euroizol</span>
                    </p>

                    <div class="hero__info-logos">
                        <div class="hero__info-logo">
                            <img src="assets/img/decor/dupont.png" alt="логотип компанії Dupont">
                        </div>
                        <div class="hero__info-logo">
                            <svg><use xlink:href="assets/img/sprite.svg#euroizol"></use></svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>