<section class="quality">
    <div class="container">
        <div class="quality__wrapper">
            <div class="quality__content">
                <span class="quality__tag section-tag">Гарантія якості</span>

                <h2 class="quality__title section-title"><span class="text-bold--grey">euroizol</span> - ваш <span class="text-bold--red">надійний</span> партнер у виборі геотекстилю typar<sup class="sup">&#174;</sup>sf</h2>

                <p class="quality__text">
                    Як офіційний партнер <span class="text-bold">DuPont™</span> в Україні, компанія <span class="text-bold">Eurozol</span> не лише <span class="text-bold">постачає</span> <span class="text-bold text-bold--red">ексклюзивну</span> продукцію, а й забезпечує повний спектр інженерної підтримки <span class="text-bold">- від науково-дослідних рішень до проєктування</span> та супроводу
                </p>

                <div class="quality__content-btns">
                    <a class="btn" href="#">Дізнатись більше</a>
                    <a class="btn btn--transparent" href="#">Довірте свої проєкти експертам!</a>
                </div>
            </div>
        </div>
    </div>
</section>