<section class="review">
    <div class="container">
        <div class="review__wrapper">
            <span class="review__tag section-tag section-tag--absolute">Огляд</span>

            <h2 class="review__title section-title">
                розділення <span class="review__separator"></span> армування <span class="review__separator"></span> фільтрація
            </h2>
            <p class="review__subtitle">Відкрийте <span class="text-bold text-bold--red">потенціал</span> <span class="text-bold">геотекстилю</span> в нашому відео</p>

            <div class="review__content">
                <div class="review__content-left">
                    <img src="assets/img/decor/review-img.png" alt="">
                    <div class="review__subscribe">
                        <a class="review__subscribe-link btn btn--black" href="#">Підписатися</a>
                    </div>
                </div>
                
                <div class="review__content-right">
                    <div class="review__swiper swiper">
                        <div class="review__swiper-wrapper swiper-wrapper">
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                            <div class="review__swiper-slide swiper-slide">
                                <img src="assets/img/decor/review-slide.jpg" alt="">
                                <a class="review__swiper-link btn btn--transparent" href="#">Дивитись</a>
                            </div>
                        </div>
                        
                        <div class="review__swiper-navigation swiper-navigation">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev">
                                <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                            </div>
                            <div class="swiper-button-next">
                                <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>