<section class="tech">
	<div class="container">
		<div class="tech__wrapper">
			<div class="tech__left">
				<img src="../../assets/img/decor/tech-img.jpg" alt="графік" />

				<div class="tech__left-info">
					<div class="tech__left-info-item">
						<div class="tech__left-info-item-title js-dropdown-title">
							Висока міцність
						</div>
						<div class="tech__left-info-item-text js-dropdown-content">
							Висока міцність на розрив, оптимальне видовження та пружність, що робить Typar   ідеальним для геосинтетичних застосувань
						</div>
					</div>

					<div class="tech__left-info-item">
						<div class="tech__left-info-item-title js-dropdown-title">
							Енергія абсорбації
						</div>
						<div class="tech__left-info-item-text js-dropdown-content">
							Висока міцність на розрив, оптимальне видовження та пружність, що робить Typar   ідеальним для геосинтетичних застосувань
						</div>
					</div>

					<div class="tech__left-info-item">
						<div class="tech__left-info-item-title js-dropdown-title">
							Оптимальне видовження
						</div>
						<div class="tech__left-info-item-text js-dropdown-content">
							Висока міцність на розрив, оптимальне видовження та пружність, що робить Typar   ідеальним для геосинтетичних застосувань
						</div>
					</div>
				</div>
			</div>

			<div class="tech__right">
				<span class="section-tag">Технології</span>

				<h2 class="section-title">Технології <span class="text-bold--grey">TYPAR<sup class="sup">&#174;</sup> SF</span></h2>

				<div class="tech__right-text">
					<p>
						<span class="text-bold">Typar<sup class="sup sup--small">&#174;</sup></span> SF вирізняється високою <span class="text-bold text-bold--red">енергопоглинальністю</span>, що забезпечує стійкість до пошкоджень під
						час монтажу та збереження характеристик у часі. Його механічні властивості описує крива «напруження – деформація» <span class="text-bold">(EN ISO 10319)</span>.
					</p>
					<p>
						Завдяки високій міцності на розрив, оптимальному видовженню та високому модулю пружності, <span class="text-bold">Typar<sup class="sup sup--small">&#174;</sup> SF</span> демонструє ідеальний баланс характеристик,
						що забезпечує його <span class="text-bold">ефективність у геосинтетичних застосуваннях.</span>
					</p>
				</div>

                <div class="tech__right-bottom">
                    <div class="tags">
						<span class="tags__item">
							<svg><use xlink:href="assets/img/sprite.svg#puzzle"></use></svg>
						</span>
						<span class="tags__item">
							Таку комбінацію надає тільки
						</span>
					</div>

					<svg><use xlink:href="assets/img/sprite.svg#logo"></use></svg>
					<img src="../../assets/img/decor/dupont.png" alt="логотип Dupont">
                </div>
			</div>
		</div>
	</div>
</section>