<section class="usage">
	<div class="container">
		<div class="usage__wrapper">
			<span class="usage__tag section-tag section-tag--absolute">Застосування</span>

			<h2 class="usage__title section-title">
				Конструктиви із <span class="text-bold--red">застосуванням</span> <span class="text-bold--grey">геотекстилю</span> Typar<sup class="sup">&#174;</sup>
				<span class="usage__subtitle">
					Дізнайтеся, як <span class="text-bold">правильно інтегрувати геотекстиль Typar<sup class="sup sup--small">&#174;</sup></span> у <span class="text-bold text-bold--red">конструкцію.</span>
				</span>
			</h2>

			<div class="usage__content">
				<div class="usage__swiper-imgs swiper">
					<div class="usage__swiper-wrapperImgs swiper-wrapper">
						<div class="usage__swiper-slideImgs swiper-slide">
							<picture>
                                <source srcset="../assets/img/decor/usage-img-mob-1.png" media="(max-width: 768px)" type="image/png">
                                
                                <img src="../assets/img/decor/usage-img-1.png" alt="Геотекстиль при укладанні дренажних труб" />
                            </picture>
						</div>

						<div class="usage__swiper-slideImgs swiper-slide">
							<picture>
                                <source srcset="../assets/img/decor/usage-img-mob-2.png" media="(max-width: 768px)" type="image/png">
                                
                                <img src="../assets/img/decor/usage-img-2.png" alt="Геотекстиль для фундаменту" />
                            </picture>
						</div>

						<div class="usage__swiper-slideImgs swiper-slide">
							<picture>
                                <source srcset="../assets/img/decor/usage-img-mob-3.png" media="(max-width: 768px)" type="image/png">
                                
                                <img src="../assets/img/decor/usage-img-3.png" alt="Геотекстиль при укладані тротуарної плитки" />
                            </picture>
						</div>
					</div>
				</div>

				<div class="usage__swiper-info swiper">
					<div class="usage__swiper-wrapperInfo swiper-wrapper">
						<div class="usage__swiper-slideInfo swiper-slide">
                            <div class="usage__content-download">
                                <a class="btn btn--download" href="#" download>
                                    PDF
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                                <a class="btn btn--black btn--download" href="#" download>
                                    DWG
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                            </div>

                            <h3 class="usage__content-title">
                                Геотекстиль при укладанні <span class="text-bold--darkGrey">дренажних труб</span>
                            </h3>

                            <p>
                                Геотекстиль при укладанні дренажних труб виконує роль фільтра, який запобігає засміченню труб ґрунтом і дрібними частинками. Він забезпечує довговічність дренажної системи
                            </p>
                        </div>

						<div class="usage__swiper-slideInfo swiper-slide">
                            <div class="usage__content-download">
                                <a class="btn btn--download" href="#" download>
                                    PDF
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                                <a class="btn btn--black btn--download" href="#" download>
                                    DWG
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                            </div>

                            <h3 class="usage__content-title">
                                гЕОТЕКСТИЛЬ ДЛЯ&nbsp;<span class="text-bold--darkGrey">ФУНДАМЕНТУ</span>
                            </h3>

                            <p>
                                Геотекстиль для фундаменту - це спеціальний міцний матеріал, який використовують для розподілу навантаження, зміцнення основи та захисту від змішування шарів грунту.
                            </p>
                        </div>
                        
						<div class="usage__swiper-slideInfo swiper-slide">
                            <div class="usage__content-download">
                                <a class="btn btn--download" href="#" download>
                                    PDF
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                                <a class="btn btn--black btn--download" href="#" download>
                                    DWG
                                    <svg><use xlink:href="assets/img/sprite.svg#download"></use></svg>
                                </a>
                            </div>

                            <h3 class="usage__content-title">
                                Геотекстиль при укладанні <span class="text-bold--darkGrey">тротуарної плитки</span>
                            </h3>

                            <p>
                                Геотекстиль для фундаменту - це спеціальний міцний матеріал, який використовують для розподілу навантаження, зміцнення основи та захисту від змішування шарів грунту. 
                            </p>
                        </div>
					</div>

					<div class="usage__swiper-navigation swiper-navigation">
						<div class="usage__swiper-btns">
                            <div class="swiper-button-prev">
                                <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                            </div>
                            <div class="swiper-button-next">
                                <svg><use xlink:href="assets/img/sprite.svg#arrow"></use></svg>
                            </div>
                        </div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
