.about {
	&__tag {
		top: 48px;
		left: -203px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 0 0 0 14.01%;
	}

	&__content {
		position: relative;
		max-width: 617px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 40px 0 50px;

		&-text {
			display: grid;
			gap: 40px;
		}

		&-bottom {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				background: url('../img/decor/arrow-2.svg');
				background-repeat: no-repeat;
				background-size: contain;
				width: 60px;
				height: 70px;
				top: -46px;
				right: 12px;
				transform: rotate(17deg);
			}
		}
	}

	&__img {
		position: relative;
		right: -3.09%;

		img {
			max-width: unset;
		}
	}

	@media screen and (max-width: 912px) {
		&__tag {
			top: 0;
			left: 0;
		}

		&__wrapper {
			right: unset;
			flex-direction: column;
			align-items: center;
			gap: 50px;
			padding: 0;
		}

		&__content {
			padding: 40px 0 0;
		}
	}

	@media screen and (max-width: $mobile) {
		&__content {
			gap: 12px;
			padding: 36px 0 0;

			&-text {
				gap: 12px;
			}
		}

		&__img {
		}
	}
}
