.feedback {
	margin: 110px 0;
	padding: 0;
	background: url('../img/decor/feedback-bg.jpg') no-repeat center / cover;
	overflow: hidden;

	&__title {
		position: relative;
		margin: 0 auto 126px;
		padding-bottom: 19px;
		max-width: 992px;
		text-align: center;
		top: -1px;

		border-radius: 0 0 30px 30px;
		background-color: #fff;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -1px;
			width: 35px;
			height: 34px;
			background: url('../img/decor/corner-inset.svg') no-repeat center / contain;
		}

		&::before {
			right: calc(100% - 2px);
		}

		&::after {
			left: calc(100% - 2px);
			transform: rotateY(180deg);
		}
	}

	&__form {
		position: relative;
		max-width: 562px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		background-color: #fff;
		border-radius: 30px 30px 0 0;

		margin: 0 auto;
		padding: 43px 50px 0;

		text-align: center;

		p {
			margin: 0 0 5px;
		}

		&-btn {
			width: 100%;
			margin-top: 2px;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: -1px;
			width: 35px;
			height: 34px;
			background: url('../img/decor/corner-inset.svg') no-repeat center / contain;
		}

		&::before {
			right: calc(100% - 2px);
			transform: rotate(90deg);
		}

		&::after {
			left: calc(100% - 2px);
			transform: rotate(180deg);
		}
	}

	@media screen and (max-width: $mobile) {
		margin: 60px 0;

		&__title {
			margin: 0 auto 88px;
			font-size: 26px;
			line-height: 30px;

			border-radius: 0 0 12px 12px;

			&::before,
			&::after {
				width: 15px;
				height: 14px;
			}
		}

		&__form {
			gap: 8px;
			padding: 24px 10px 0;

			border-radius: 12px 12px 0 0;

			p {
				margin: 0 0 9px;
			}

			&-btn {
				margin: 4px 0 0;
			}

			&::before,
			&::after {
				width: 15px;
				height: 14px;
			}
		}
	}
}
