.results {
	text-align: center;

	&__tag {
		margin: 0 auto 16px;
	}

	&__title {
		margin: 0 0 24px;
	}

	&__swiper {
		&-navigation {
			margin: 0 0 40px;
			justify-content: center;
		}

		&-slide {
			display: grid;

			img {
				width: 100%;
				margin: 0 0 22px;
				border-radius: $borderRadiusS;
			}
		}
	}

	&__info {
		display: grid;
		gap: 5px;
		padding: 0 5px 0;
		font-size: 16px;
		color: $colorGrey;

		&-object,
		&-location {
			display: flex;
			justify-content: space-between;
		}

		&-object {
			span {
				font-size: 18px;
				color: $colorSecondaryBlack;
			}
		}

		&-location {
			span {
				color: $colorRed;
			}
		}
	}

	&__link {
		margin: 60px 0 0;
	}

	@media screen and (max-width: $mobile) {
		&__title {
			margin: 0 0 16px;
		}

		&__swiper {
			margin: 0 -15px;
			padding: 0 15px;

			&-navigation {
				margin: 0 0 22px;
				gap: 6px;
			}

			&-slide {
				padding-right: 8px;
			}
		}

		&__info {
			font-size: 14px;
			line-height: 14px;

			&-object {
				span {
					font-size: 16px;
					line-height: 16px;
				}
			}

			&-location {
				font-size: 16px;
				line-height: 22px;

				span {
					color: $colorRed;
				}
			}
		}
	}
}
