<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a class="logo" href="#">
                <svg><use xlink:href="assets/img/sprite.svg#logo"></use></svg>
            </a>

            @@include('../components/ui/nav.html')

            <div class="footer__logos">
                <img src="../assets/img/decor/dupont-white.png" alt="">
                <svg><use xlink:href="assets/img/sprite.svg#euroizol"></use></svg>
            </div>
        </div>

        <div class="copyright">
            <a href="#">2024. Усі права захищені. Euroizol</a>
        </div>
    </div>
</footer>