<header class="header header--transparent">
    <div class="container">
        <div class="header__wrapper">
            <a class="logo" href="#">
                <svg><use xlink:href="assets/img/sprite.svg#logo"></use></svg>
            </a>
            
            <div class="header__content">
                @@include('./ui/nav.html')
                
                @@include('./ui/lang.html')
            </div>

            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>