<div class="menu">

    <div class="menu__top">
        <div class="menu__lang">
            UA
            <a href="#">EN</a>
        </div>
        <button class="menu__close popup-close"></button>
    </div>

    <nav class="menu__nav">
        <ul>
            <li>
                <img src="../../assets/img/decor/geotextile.svg" alt="geotextile">
                <a href="#">Про Typar <sup>&#174;</sup></a>
            </li>
            <li>
                <img src="../../assets/img/decor/pin.svg" alt="pin">
                <a href="#">Області застовування</a>
            </li>
            <li>
                <img src="../../assets/img/decor/gear.svg" alt="gear">
                <a href="#">Техпідтримка Eurozol</a>
            </li>
            <li>
                <img src="../../assets/img/decor/info.svg" alt="info">
                <a href="#">Корисна інформація</a>
            </li>
            <li>
                <svg><use xlink:href="assets/img/sprite.svg#mark"></use></svg>
                <a href="#">Де купити</a></a>
            </li>
        </ul>
    </nav>

    <ul class="menu__contacts">
        <li>
            <svg><use xlink:href="assets/img/sprite.svg#phone"></use></svg>
            <a href="tel:+380442995834">(044) 300 52 36</a>
        </li>
        <li>
            <svg><use xlink:href="assets/img/sprite.svg#mail"></use></svg>
            <a href="mailto:clientcenter@mizol.com">clientcentertypar@mizol.com</a>
        </li>
        <li>
            <svg><use xlink:href="assets/img/sprite.svg#mark"></use></svg>
            Київ. вул. Бориспільська, 7-А
        </li>
    </ul>

    <a class="btn" href="#">Передзвоніть мені</a>
    
</div>