<div class="container">
    <div class="popup-feedback popup">
        <button class="popup-close">
            <svg><use xlink:href="assets/img/sprite.svg#cross"></use></svg>
        </button>
    
        <div class="popup-img">
            <img src="./assets/img/decor/paper-plane.svg" alt="">
        </div>
    
        <h3 class="popup-feedback__title popup-title">
            Заявку надіслано!
        </h3>
    
        <p>
            <span class="text-bold">Дякуємо за вашу заявку.</span> Ми обробимо її найближчим часом і зв'яжемося з вами для уточнення деталей. <span class="text-bold">Очікуйте на зворотний зв'язок.</span>
        </p>
    
        <a class="btn" href="#">На головну</a>
    </div>
</div>